body {background-color: ;}

.caja1 { 
    background-color: ;
    width: 1100px;
    height: 400px;
    float: left;

 }

 .caja2 { 
     background-color: ;
     width: auto;
     height: auto;
     float: left;

  }